.accordion
	width 100%
	border 1px solid black
	&__item:not(:last-child)
		border-bottom 1px solid black
	&__item
		width 100%
		background white
	&__btn
		size(100%, 40px)
		padding 0 15px
		border none
		background none
		text-align left
		color purple
		font-weight bold
	&__box
		padding 15px
		display none