.counter
	width: 110px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	input::-webkit-outer-spin-button
		-webkit-appearance: none;
		margin: 0;
	input::-webkit-inner-spin-button
		-webkit-appearance: none;
		margin: 0;
	input[type=number]
		-moz-appearance: textfield;
	&__btn
		width: 28px;
		height: 100%;
		padding: 0;
		background: purple;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-weight: bold;
	&__input
		padding: 0 3px;
		width: calc(100% - 56px);
		height: 100%;
		background: transparent;
		border: none;
		text-align: center;