.star-rating
	width: 0;
	position: relative;
	display:inline-block;
	background-image: url(../img/svg/star-empty.svg) !important;
	background-position: 0 0;
	background-repeat: repeat-x;
	cursor: pointer;

.star-rating .star-value
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../img/svg/star.svg) !important;
	background-repeat: repeat-x;