.tabs
	width: 100%
	&__nav
		padding 10px 0
		width 100%
		display flex
		justify-content flex-start
		align-items center
	&__btn
		width max-content
		height 45px
		padding 0 35px
		border 1px solid black
		background white
		color black
		margin-right 10px
		transition()
	&__main
		margin-top 10px
		width: 100%
		padding 15px
		border 1px solid black
	&__box:not(:first-child)
		display none
	&__box
		width: 100%
	&--active
		background purple
		color white
