//@import "../../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "../../../node_modules/bootstrap/dist/css/bootstrap-grid.css"
@import "../../../node_modules/bootstrap/dist/css/bootstrap-reboot.css"
//@import "../../../node_modules/video.js/dist/video-js.css"
//@import "../../../node_modules/aos/dist/aos.css"
//@import "../../../node_modules/izimodal-1.6.0/css/iziModal.css"
@import "../../../node_modules/swiper/css/swiper.css"