// ЦВЕТА
baseWhite = #fff
baseBlack = #000
baseGreyLight = #eff0f2
baseGreyDark = #505050
baseGreyText = #343434

baseCyan = #6ff6eb


// РАЗМЕРЫ
baseFontSize = 16px

// ШРИФТЫ
mainFont = 'Montserrat', sans-serif;

// Media Bootstrap 4
$xxs-and-smaller = '(max-width: 320px)'
$xs-and-smaller = '(max-width: 576px)'
$sm-and-smaller = '(max-width: 768px)'
$md-and-smaller = '(max-width: 992px)'
$lg-and-smaller = '(max-width: 1200px)'