.btn_global
	width max-content
	padding 0 45px
	height 45px
	display flex
	justify-content center
	align-items center

	text-transform uppercase
	background transparent
	border 2px solid baseGreyDark
	border-radius 0
	cursor pointer
	font-weight 800
	transition()
	&:hover
		color baseGreyDark
	&:active
		box-shadow 1px 1px 4px baseCyan
		transform translateY(3px) scale(0.98)