.featured--wrap#featured
  .container
    .row
      .col-12
        .featured
          h2._title= featuredInfo[0]
          p._text= featuredInfo[1]
      .col-lg-4.col-md-12.col-12
        .featured_pics
          img(src='static/img/content/works01.png' alt='Image Title')
      .col-lg-4.col-md-12.col-12
        .featured_pics
          img(src='static/img/content/works02.png' alt='Image Title')
      .col-lg-4.col-md-12.col-12
        .featured_pics
          img(src='static/img/content/works03.png' alt='Image Title')
      .col-lg-4.col-md-12.col-12
        .featured_pics
          img(src='static/img/content/works04.png' alt='Image Title')
      .col-lg-4.col-md-12.col-12
        .featured_pics
          img(src='static/img/content/works05.png' alt='Image Title')
      .col-lg-4.col-md-12.col-12
        .featured_pics
          img(src='static/img/content/works06.png' alt='Image Title')