.services--wrap#services
  .container
    .row
      .col-12
        .services
          h2._title= servicesInfo[0]
          p._text= servicesInfo[1]
      .col-lg-7.col-md-12.col-12
        .services_block
          ._shadow
            img(src='static/img/content/serv01.png' alt='Image Title')
          ._main
            h3._title
              | Designing is The CooL LOVE FOR.
            p._text
              | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something
            a._know(href="#")
              | Know More
              +icon('right-arrow')
          ._info
            ._up
              h3._title2
                | Designing is The CooL LOVE FOR.
              p._text2
                | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
            a._close(href="#")
              +icon('close')
      .col-lg-5.col-md-12.col-12
        .services_block
          ._shadow
            img(src='static/img/content/serv02.png' alt='Image Title')
          ._main
            h3._title
              | Designing is The CooL
            p._text
              | Our most popular service is our Virtual Receptionist. We know
            a._know(href="#")
              | Know More
              +icon('right-arrow')
          ._info
            ._up
              h3._title2
                | Designing is The CooL LOVE FOR.
              p._text2
                | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
            a._close(href="#")
              +icon('close')
      .col-lg-7.col-md-12.col-12
        .services_block
          ._shadow
            img(src='static/img/content/serv03.png' alt='Image Title')
          ._main
            h3._title
              | Designing is The CooL
            p._text
              | Our most popular service is our Virtual Receptionist. We know
            a._know(href="#")
              | Know More
              +icon('right-arrow')
          ._info
            ._up
              h3._title2
                | Designing is The CooL LOVE FOR.
              p._text2
                | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
            a._close(href="#")
              +icon('close')
      .col-lg-5.col-md-12.col-12
        .services_block
          ._shadow
            img(src='static/img/content/serv04.png' alt='Image Title')
          ._main
            h3._title
              | Designing is The CooL
            p._text
              | Our most popular service is our Virtual Receptionist. We know
            a._know(href="#")
              | Know More
              +icon('right-arrow')
          ._info
            ._up
              h3._title2
                | Designing is The CooL LOVE FOR.
              p._text2
                | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
            a._close(href="#")
              +icon('close')
      .col-lg-5.col-md-12.col-12
        .services_block
          ._shadow
            img(src='static/img/content/serv05.png' alt='Image Title')
          ._main
            h3._title
              | Designing is The CooL
            p._text
              | Our most popular service is our Virtual Receptionist. We know
            a._know(href="#")
              | Know More
              +icon('right-arrow')
          ._info
            ._up
              h3._title2
                | Designing is The CooL LOVE FOR.
              p._text2
                | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
            a._close(href="#")
              +icon('close')
      .col-lg-7.col-md-12.col-12
        .services_block
          ._shadow
            img(src='static/img/content/serv06.png' alt='Image Title')
          ._main
            h3._title
              | Designing is The CooL
            p._text
              | Our most popular service is our Virtual Receptionist. We know
            a._know(href="#")
              | Know More
              +icon('right-arrow')
          ._info
            ._up
              h3._title2
                | Designing is The CooL LOVE FOR.
              p._text2
                | Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
            a._close(href="#")
              +icon('close')