.sponsor--wrap
  .container
    .row
      .col-12
        .sponsor
          ._up
            ._img
              img(src="static/img/content/sponsor03.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor04.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor05.png" alt="Image Title")
          ._down
            ._img
              img(src="static/img/content/sponsor01.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor02.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor03.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor04.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor05.png" alt="Image Title")
            ._img
              img(src="static/img/content/sponsor06.png" alt="Image Title")