.team--wrap#team
  .container
    .row
      .col-12
        .team
          h2._title= teamInfo[0]
          p._text= teamInfo[1]
      .col-xl-4.col-lg-6.col-md-12.col-12
        .team_pics
          img(src='static/img/content/team01.png' alt='Image Title')
          ._info
            ._name
              h3._title
                | AL RAYHAN
              h3._job
                | / UI Designer
            p._text
              | Lorem Ipsum is not simply is an action designer random text. It has roots in a piece.
            +social
      .col-xl-4.col-lg-6.col-md-12.col-12
        .team_pics
          img(src='static/img/content/team02.png' alt='Image Title')
          ._info
            ._name
              h3._title
                | AL RAYHAN
              h3._job
                | / UI Designer
            p._text
              | Lorem Ipsum is not simply is an action designer random text. It has roots in a piece.
            +social
      .col-xl-4.col-lg-6.col-md-12.col-12
        .team_pics
          img(src='static/img/content/team03.png' alt='Image Title')
          ._info
            ._name
              h3._title
                | AL RAYHAN
              h3._job
                | / UI Designer
            p._text
              | Lorem Ipsum is not simply is an action designer random text. It has roots in a piece.
            +social
      .col-xl-4.col-lg-6.col-md-12.col-12
        .team_pics
          img(src='static/img/content/team04.png' alt='Image Title')
          ._info
            ._name
              h3._title
                | AL RAYHAN
              h3._job
                | / UI Designer
            p._text
              | Lorem Ipsum is not simply is an action designer random text. It has roots in a piece.
            +social
      .col-xl-4.col-lg-6.col-md-12.col-12
        .team_pics
          img(src='static/img/content/team05.png' alt='Image Title')
          ._info
            ._name
              h3._title
                | AL RAYHAN
              h3._job
                | / UI Designer
            p._text
              | Lorem Ipsum is not simply is an action designer random text. It has roots in a piece.
            +social
      .col-xl-4.col-lg-6.col-md-12.col-12
        .team_pics
          img(src='static/img/content/team06.png' alt='Image Title')
          ._info
            ._name
              h3._title
                | AL RAYHAN
              h3._job
                | / UI Designer
            p._text
              | Lorem Ipsum is not simply is an action designer random text. It has roots in a piece.
            +social