.welcome--wrap
  .container
    .welcome
      h1._title.title_36
        = welcomeInfo[0]
        span._bg= welcomeInfo[1]
        br
        span._bg= welcomeInfo[2]
        = welcomeInfo[3]
      +link_global('#featured', 'CONTACT US')