head
  meta(charset="utf-8")
  title #{title}
  <!--[if IE]>
  meta(http-equiv='X-UA-Compatible', content="IE = edge")
  <![endif]-->
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="keywords" content="")
  meta(name='it-rating', content='it-rat-fa9ef9f8c2095cc94c5d33de60ee9bb3')
  // Favicon
  link(rel='apple-touch-icon' sizes='120x120' href='static/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='static/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='static/favicon/favicon-16x16.png')
  link(rel='mask-icon' href='static/favicon/safari-pinned-tab.svg' color='#5bbad5')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')
  //Fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap' rel='stylesheet')
  // CSS links DEV (remove from prod)
  link(rel="stylesheet" type='text/css' href="static/css/libs.min.css")
  link(rel="stylesheet" type='text/css' href="static/css/main.min.css")
  // IE Support
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->