.nav
  height 100%
  display flex
  align-items center
  flex-direction column
  justify-content center
  &__item
    margin: 20px 0;
  &__link
    font-weight 800
    text-transform uppercase
    color bsseGrayDark
    &:hover
      color red