.sponsor
  width: 100%;
  display flex
  justify-content: center;
  align-items: center;
  flex-direction column
  padding 100px 0
  @media $md-and-smaller
    padding: 20px 0;
  @media $xs-and-smaller
    padding-top 50px
  img
    width auto
    height auto
  &__up
    width 100%
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom 50px
    .sponsor__img:last-child
      @media $xs-and-smaller
        display: none;
    .sponsor__img
      margin 0 25px
      @media $xs-and-smaller
        margin 0
    @media $md-and-smaller
      padding 80px 0 0;
    @media $xs-and-smaller
      width 100%
      flex-wrap wrap
      padding-top: 0;
      justify-content: space-between;
  &__down
    width 100%
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media $md-and-smaller
      flex-wrap wrap
  &__img
    @media $md-and-smaller
      width 33.3333%
      display flex
      justify-content center
      align-items: center;
      padding-bottom 20px
    @media $xs-and-smaller
      width 50%
      display flex
      justify-content center
      align-items: center;
      padding-bottom 20px