.footer
  size(100%)
  &--wrap
    width 100%
    display flex
    justify-content: center;
    align-items: center;
    background #262b2e
    padding: 90px 0;
  p
    text-align: center;
    font-size 16px
    color #bbb8b9
  .social
    width: 100%;
    display flex
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px;
    &__item
      margin-right: 10px;
    &__link
      display flex
      justify-content: center;
      align-items: center;
      size(40px)
      background-color #424648
      &:hover
        background-color baseCyan
        transition transition
      &:hover svg
        fill black
      svg
        size(60%)
        fill #bbb8b9
        transition transition